
<%- include('../../header.ejs') %>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blog/displayblog" class="active">Blogs</a></li>
                            <li><a href="/admin/category/displaycategory">Categories</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Categories</h1>
                            </div>
                            <div class="dash-nav">
                                <a href="/admin/category/createcategory" class="btn btn-success">Add Post</a>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Serial</th>
                                 <th>Category</th>
                             
                              
                                <th>Action</th>
                            </tr>
                           <% var i = 1 %>
                            <% data.forEach((item)=>{ %>
                                   
                                <tr>
                                    <td><%= i++ %> </td>
                                    
                                    <td><%= item.category %></td>
                                    
                                   
                                    <td>
                                        <a href="/admin/category/viewcategory/<%= item._id %>" ><button class="btn-primary">View</button></a>
                                        <a href="/admin/category/editcategory/<%= item._id %>" ><button class="btn-success">Edit</button></a>
                                        <a href="/admin/category/deletecategory/<%= item._id %>" ><button class="btn-danger">Delete</button></a>
                                    </td>
                                </tr>

                         <%   }) %>
                            
                           
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../../footer.ejs') %>